@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$font-primaria: 'Open Sans', sans-serif;
$main-font: 'Suez One', serif;

.chillhoop__setion {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #460b0b;
    z-index: 1;

    .chillhoop {
        height: 41em;
        width: 100%;
       

        @media (max-width: 1200px) {
            height: 63em;
        }

        @media (max-width: 590px) {
            height: 65em;
        }
    }

    .chilhoop-wrap {
        position: relative;
        height: 100%;
    }
    
    .chill__bg__image__wrap{
        position: absolute;
        top: 5%;
        right: 17%;
        width: 23em;
        height: 28em;
        background-color: "";
        background-position: center;
        background-size: cover;
        object-fit: cover;
        z-index: 2;
        background-image: url("/imagens/wrap-img/chill-bg-wrap.jpg");
        filter: grayscale(100%);
        opacity: 0.5;
        
        @media (max-width: 1200px) {
            z-index: -1;
        }
            
    }

    .col__md {
        padding: 10em;
        width: 50%;
        height: 100%;
        float: left;
        z-index: 1;
        left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width: 1200px) {
            top: 0;
            float: none;     
            height: 50%;       
            width: 100%;   
            padding: 0;
            position: absolute;

            .col__md__inner {
                position: relative;
                height: 100%;
                width: 100%;
            }
        }

        .md__wrap {
            position: absolute;
            top: 10%;
            bottom: 5%;
            left: 18%;
            right: 8%;

            @media (max-width: 1200px) {
              left: 2%;
              right: 2%;
            }
        }

        .inner__md-wrap{
            width: 100%;
            height: 100%;
        }

        .md__title {
            padding: .1em 2em .2em;
            width: 100%;
            
            h2 {
            color: #FFDFBD;
            font-size: 2.6em;
            font-family: $main-font;
            font-weight: 400;
            }

            @media (max-width: 1200px) {
                text-align: center;
                padding: 0;
            }

            @media (max-width: 500px) {
                font-size: .9em;
            }

        }
        
        .md__p {
            padding: .1em 10.5em .2em;
            text-align: left;
            color: #fff;
            margin-left: -7em;
            font-size: .945em;
            line-height: 1.9em;
            
            @media (max-width: 1200px) {
                padding: 0;
                margin-left: 0;
                text-align: center;
            }

            span {
                color: #FFDFBD;
                font-family: $main-font;
                font-weight: 300;
            }

            .primary__p {
                white-space: pre-line;
                margin-block-start: 1em;
                margin-inline-end: 1em;
                margin-inline-start: 0;
                margin-inline-end: 0;
            }

            .secondary__p {
            @media (max-width: 1200px) {
                width: 100%;
                text-align: center;
            }
            }
            
        }
        .btn__md {
            width: 100%;
            padding:  1.8em 1em .2em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -3em;

            @media (max-width: 1200px) {
                width: 100%;
                margin-left: 0;
                left: 0;
                padding:  1.8em 3% .2em;
                position: absolute;
                bottom: 5%;
            }
            
            @media (max-width: 350px) {
                bottom: 3%;
           }
         

            button {
                padding: 1.2em 3.2em;
                width: 100%;
                background-color: #FFDFBD;
                outline: none;
                border: #FFDFBD;
                cursor: pointer;
                box-shadow: -15px 15px 0px rgb(255 223 189 / 10%);
                
                &:hover {
                background-color: #e6cbaf;
                }
                
                @media (max-width: 1200px) {
                    width: 100%;
                padding: 1.2em 1em;
               }

                @media (max-width: 890px) {
                     width: 100%;
                }
                }
            }

            a {
                color: #360202;
                font-size: 2em;
                font-family: $main-font;
                font-weight: 300;
                text-transform: uppercase;
              
        }
    }

    .col__wrap {
        padding: 10em;
        width: 50%;
        float: right;
        height: 100%;
        right: auto;
        z-index: 1;
           
        @media (max-width: 1200px) {
            bottom: 0;
            float: none; 
            height: 55%;   
            width: 100%;   
            padding: 0; 
            position: absolute;        
        }
    }

    .top__list {
        position: absolute;
        width: 28%;
        height: 32em;
        top: 10%;
        right: 8%;
        z-index: 5;
        background-color: #FFDFBD;
        box-shadow: 30px -30px 0px rgb(255 223 189 / 10%);
        
        @media (max-width: 1200px) {
            right: 2%;
            left: 5%;
            width: 90%;
            bottom: 5%;
            top: 4%;
        }
    }

    .top__inner__list {
        width: 83%;
        height: 85%;
        transform: translateY(8%);
        margin: 0 auto;              
    }

    .top__artist {
        padding: .1em;
        display: flex;
        align-items: center;
        padding: .5em;
        text-transform: capitalize;

        ul li {
            list-style: none;
            color: #460b0b;
            padding-left: 1em;
            font-family: $font-primaria;
        }

        a {
            text-decoration: none;
            color: #000000;
            font-family: $main-font;
        }

        .fa-play-circle {
            color: #360202;
            font-size: 2.4em;
            cursor: pointer;

            &:hover {
            color: #472727;
            }
        }
           .fa-pause-circle {
                color: #360202;
                font-size: 2.4em;
                cursor: pointer;
    
                &:hover {
                color: #472727;
                }
            }
    }
}
