@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$font-primaria: 'Open Sans', sans-serif;
$main-font: 'Suez One', serif;

.chillhoop__setion {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #460b0b;
    z-index: 1;

    .chillhoop {
        height: 40em;
        width: 100%;
    }

    .chilhoop-wrap {
        position: relative;
        height: 100%;
    }
    
    .chill__bg__image__wrap{
        position: absolute;
        top: 5%;
        right: 17%;
        width: 23em;
        height: 28em;
        background-color: "";
        background-position: center;
        background-size: cover;
        object-fit: cover;
        z-index: 2;
        background-image: url("/imagens/wrap-img/chill-bg-wrap.jpg");
        filter: grayscale(100%);
        opacity: 0.5;
    }

    .col__md {
        padding: 10em;
        width: 50%;
        height: 100%;
        float: left;
        z-index: 1;
        left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .md__wrap {
            position: absolute;
            top: 10%;
            bottom: 5%;
            left: 18%;
            right: 8%;
        }

        .inner__md-wrap{
            width: 100%;
            height: 100%;
        }

        .md__title {
            padding: .1em 2em .2em;
            width: 100%;
            
            h2 {
            color: #FFDFBD;
            font-size: 2.6em;
            font-family: $main-font;
            font-weight: 400;
            }
        }
        
        .md__p {
            padding: 1em 8.5em .2em;
            text-align: left;
            color: #fff;
            margin-left: -7em;
            font-size: .945em;
            line-height: 1.8em;

            span {
                color: #FFDFBD;
                font-family: $main-font;
                font-weight: 300;
            }

            .primary__p {
                padding:  .1em 2em .2em;
                white-space: pre-line;
            }

            .secondary__p {
                padding:  2em 2em .2em;
            }
            
        }
        .btn__md {
            width: 100%;
            padding:  1.8em 1em .2em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -3em;

            button {
                padding: 1.2em 3.2em;
                background-color: #FFDFBD;
                outline: none;
                border: #FFDFBD;
                &:hover {
                background-color: #e6cbaf;
                }
                    
                }
            }

            a {
                color: #360202;
                font-size: 2em;
                font-family: $main-font;
                font-weight: 300;
                text-transform: uppercase;
              
                &::before {
                    content: "";
                    padding: 1.3em 5.2em;
                    bottom: 13%;
                    left: 7%;
                    position: absolute;
                    background-color: #ffdfbd1f;
            }
        }
    }

    .col__wrap {
        padding: 10em;
        width: 50%;
        float: right;
        height: 100%;
        right: auto;
        z-index: 1;
    }

    .top__list {
        position: absolute;
        width: 28%;
        height: 32em;
        top: 10%;
        right: 8%;
        z-index: 5;
        background-color: #FFDFBD;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            top: -6%;
            right: -9%;
            position: absolute;
            background-color: #ffdfbd1f;

        }
    }

    .top__inner__list {
        width: 83%;
        height: 85%;
        transform: translateY(8%);
        margin: 0 auto;              
    }

    .top__artist {
        padding: .1em;
        display: flex;
        align-items: center;
        padding: .5em;
        text-transform: capitalize;

        ul li {
            list-style: none;
            color: #460b0b;
            padding-left: 1em;
            font-family: $font-primaria;
        }

        a {
            text-decoration: none;
            color: #000000;
            font-family: $main-font;
        }

        .fa-play-circle {
            color: #360202;
            font-size: 2.4em;
            cursor: pointer;

            &:hover {
            color: #472727;
            }
        }
    }
}