header {
    background-color: transparent;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;     
    height: 6em;
    min-height: 3em;
    z-index: 999;
    justify-content: space-around;
    align-items: center;
    button {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 12px;
        font-size: 1em;
        padding: .5rem .8rem;
        float: right;
        cursor: pointer;
        margin-left: auto;
        margin-right: 2em;
        &:hover,
        &:focus {
            outline: none;
        }
    }
        .logo {
            margin-right: auto;
            margin-left: 2em;
            font-size: 2em;
            color: rgb(206, 183, 140);
        }
    
  
}