@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

$main-font: 'Suez One', serif;

header {
    --texto: #FFDFBD;
    --texto-inverso: #460b0b;
    --background-color: transparent; 

    background-color: var(--background-color);
    color: var(--texto);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;     
    height: 5em;
    min-height: 3em;
    z-index: 999;
    justify-content: space-around;
    align-items: center;
    transition: 1000ms;

    .logo__container {
        padding: .5em;
        margin-left: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;

        .logo__text {
            font-size: .85em;
            font-family: $main-font;
            font-weight: normal;
            line-height: 1.090em;
        }

        .logo__md {
            font-size: .1m;
        }
    }

    .navbar__links {
        display: flex;
        align-items: center;
        gap: 1.1em;
        margin-left: auto;
        margin-right: 1em;
        font-family: $main-font;
        font-weight: 500;

        a {
        text-decoration: none;
        color: var(--texto);
        }
    }

    .nav__btn {     
        border: 2px solid;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 4px 25px;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        transition: 300ms;
        text-decoration: none;

        &:hover,
        &:focus {
            outline: none;
        }
    }
        .logo {
            font-size: 2.5em;

            &::after {
                content: "music";
                font-size: .280em;
                text-transform: uppercase;
                display: block;
                margin-block-start: -.8em;
                margin-block-end: .2em;
                margin-inline-start: 123px;
                margin-inline-end: 0px;     
            }
        }
    
  
}

.nav__scroll {
    --background-color: #000;
    --texto: #FFDFBD;

    .logo {
        display: none;
    }
}

.nav__chill {
    --background-color: #460b0b;
    --texto: #FFDFBD;

    .logo {
        display: none;
    }
}

.nav__scroll__change {
    --background-color: #FFDFBD;
    --texto: #460b0b;

    .logo {
        display: none;
    }
}