@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
$font-primaria: 'Open Sans', sans-serif;

.realeses-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/imagens/realeses.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    z-index: 1;

    .glass-div {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        height: 45.09em;
        z-index: 5;
        
    }

    .glass-div::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(7, 7, 7, 0.699);
        backdrop-filter: blur(3px);
    }
    
    .realeses__play {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        display: flex;
        align-items: center;
    }
    .realeses__songs {
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        span h3 {
            font-weight: 900;
            text-transform: uppercase;
        }
    }
    .wrap {
    height: 17em;
    width: 17em;
    background-color: transparent;
    grid-area: row;
    
    img {
        object-fit: cover;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
    }

   .wrap__container .col-md {
        color: #fff;
  /*      background-color: #99999999;*/
        height: 10em;
        width: 40em;
        display: flex;
        align-items: flex-end;
        text-align: left;
        h3 {
            font-size: 1.7em;    
            position: relative;        
        }

        small {
            gap: 2em;
            text-indent: 20em;
            font-size: .9em;
            text-transform: uppercase;
            color: #99999999;
            
        }
        
        p {
            font-size: .8em;

            a {
                text-decoration: underline;
                color: inherit;
                &:hover {
                    color: #444343;
                    text-decoration: none;
                }
            }
        }
    }
    
     .btn-links a {
        text-decoration: none;   
        color: #ffffff;
        text-transform: uppercase;
    }

    button {
        outline: none;       
        padding: .7em 2em;
        border-radius: 40px;
        font-size: .8em;
        cursor: pointer;
        z-index: 1;
        &:hover {
            background-color: transparent;
        }
    } 
    
    .btn {
        border: 1px solid #FB0D1B;
        background-color: #FB0D1B;
        font-weight: 600;
        font-family: $font-primaria;
    }

    .btn-save {
        border: 1px solid #1DB954;
        background-color: #1DB954;
    }

    .btn-save span {
        font-weight: 600;
        font-family: $font-primaria;
    }

    .wrap__container .col-md ul li {
        list-style: none;
        white-space: pre-line;
    }

    .wrap__container {
        display: grid;
        grid-template-areas: 'row row . .';
        grid-gap: 1.8em;
        padding: 4%;
      }
      
      .wrap__container > div {
        margin-right: auto;
        font-size: 1.1em;
        background-color: transparent;
      }
    }

    .column-container {
        background-color: #1DB954;
        width: 95%;
        left: 5%;
        right: 5%;
        margin: 0 auto;
    }
    .column {
    float: left;
    width: 20%;
    padding: 19px;
    text-align: center;

    img {
        width: 100%;
    }
    }
    .realeses-row span {
        color: #ffffff;
    }

    .realeses-row::after {
        content: "";
        clear: both;
        display: table;
      }

    .column ul li {
        list-style: none;
        color: #ffffff;
    }

    .realeses__border {
        padding: .9em;
        width: 60%;
        margin: 0 auto;
        margin-right: 12em;
        border-top: .5px solid #99999999;
    }
    
    .upper__text {
        left: 4%;
        top: 0em;
        position: absolute;
        h3 {
            font-size: .8em;
            letter-spacing: 3px;
        }
    }

    .upper__text-2 {
        right: 4%;
        top: 0em;
        position: absolute;
        h3 {
            font-size: .7em;
            letter-spacing: 1px;
            cursor: pointer;
            &:hover {
                color: #c5c0c0;
            }
        }
        .fa-arrow-right {
            font-size: 1.1em;
        }
    }