@import "nav", "home", "player", "realeses", "chillhoop";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    direction: ltr;
    text-align: left;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body, html {
    overflow-x: hidden;
    line-height: 1.30769231;
  }
