footer {
    width: 100%;
    height: auto;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2D2D2D;
    

    .nav__footer {
        width: 100%;

    }

    nav {
        display: flex;
        padding: 2em;
        padding-bottom: .5em;
        
        @media (max-width: 767px) {
            padding: 3em;
            position: relative;
            justify-content: center;
        }
        
        ul {
            list-style: none;
            text-indent: 1em;
            
        @media (max-width: 767px) {
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        @media (max-width: 442px) {
            text-indent: .68em;
        }
        }

        a{
            text-decoration: none;
            color: #fff;
        }

        .nav__links {
            margin-right: auto;
            display: flex;

        @media (max-width: 767px) {
            position: absolute;
            top: 0;
           width: 100%;
           height: 50%;
           display: flex;
           align-items: center;
           justify-content: center;
        }

            
            li {
                display: inline;
                text-transform: uppercase;
                font-size: .81em;
        
        @media (max-width: 442px) {
            font-size: .557em;
        }

                
                a:hover {
                        color:  rgb(175, 169, 169);
                }

            }

            
    }
    .social__links {
        margin-left: auto;

        @media (max-width: 767px) {
            position: absolute;
            bottom: 0;
           width: 100%;
           height: 50%;
           display: flex;
           align-items: center;
           justify-content: center;

        }
                
        li {
            display: inline;
        }

        .fab {
            font-size: 1.2em;

            &:hover {
                color: rgb(175, 169, 169);
        }
        }
    }
    }
}

.all__rights {
    width: 100%;
    padding: .5em;
    padding-bottom: .8em;
    display: flex;

    ul {
        margin-right: auto;
        margin-left: 2.5em;
        gap: .75em;
        display: flex;
        
    @media (max-width: 767px) {
        margin: 0 auto;
    }
    }

    li {
        display: inline;
        font-size: .890em;
    }
    
    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            color: #ccc;
        }
    }

    .rights__text {
        float: right;
        margin-right: 1.8em;
        color: #888;
        text-transform: uppercase;
        font-size: .91em;

        @media (max-width: 767px) {
            display: none;
        }
    }

    span {
        display: flex;
        gap: .5em;
    }
}