.player__container {
    width: 100%;
    padding: 1.4em 2em;
    bottom: -300px;
    background: firebrick;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &.active {
        bottom: 0;
    }

    .track__imagem {
     position: absolute;
     left: 1em;
     top: .9em;
     width: 4em;
     height: 4em;
     object-fit: cover;
     background-image: url("../imagens/.jpg");
     
    @media (max-width: 860px) {
        top: .1em;
    }
    
    @media (max-width: 310px) {
        display: none;
    }
       }
}

    .artista__info {
        left: 5.4em;
        position: absolute;
        width: auto;
        gap: 1em;
    #titulo {
        font-size: 1em;
        color: #fff;
    }
    #artista {
        font-size: .8em;
        color: rgb(209, 193, 193);
    }
    
    @media (max-width: 860px) {
        top: .8em;
    }
    
    @media (max-width: 430px) {
        top: .1em;
    }
    
    @media (max-width: 365px) {
        display: none;
    }
    }

    .volume {
        position: absolute;
        top: 35%;
        width: auto;
        right: 1em;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;
        input[type=range]{
            -webkit-appearance: none;
            border-radius: 300px;
            width: 90px;
            background: #000;          
            color: #000;          
            cursor: default;
            margin: 2px;
            }
          
        input[type=range]::-webkit-slider-runnable-track {
            width: 200px;
            height: 3px;
            background: #fe8daa;
            border: none;
            cursor: pointer;
            border-radius: 3px;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: #fe8daa;
            height: 13px;
            width: 13px;
            border-radius: 50%;
            background: #fff;
            margin-top: -5px;
        }
        
input[type=range]:focus {
    outline: none;
}

input[type=range]:hover::-webkit-slider-runnable-track {
    background: #cccccc;
}


@media (max-width: 430px) {
    display: none;
}
    }

    .controles {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1em;
        
    @media (max-width: 430px) {
        margin: 0;
        position: absolute;
        right: -20%;
        top: 20%;
    }
      
    @media (max-width: 365px) {
        left: 10%;
    }
      
    @media (max-width: 310px) {
        left: -34%;
    }
    
        button {
            background-color: transparent;
            outline: none;
            width: auto;
            border: none;
            cursor: pointer;
            .fas {
                font-size: 1.5em;
                color: #fff;
            }
        }
    }

.progresso-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
  width: 30em;
}

.progresso {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.fa-chevron-down {
    color: #fe8daa;
    position: fixed;
    z-index: '';
    margin-left: auto;
    right: 1em;
    bottom: .91em;
    cursor: pointer;
}

.fa-chevron-down {
    z-index: 1000;
}

.fa-chevron-up {
    z-index: 1802;
    color: #fe8daa;
    position: fixed;
    margin-left: auto;
    right: 1em;
    bottom: .91em;
    cursor: pointer;
}

.currentTime {
    position: absolute;
    left: 0;
    top: 15%;
    
    color: #fff;
}

.durationTime {
    position: absolute;
    right: 0;
    top: 15%;

    color: #fff;
}

.musica__info__container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0 2.5em 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 860px) {
        display: none;
    }
}